developer_tools/XSDSchemas/Distributions.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">

    <xsd:complexType name="DistributionData">
        <xsd:sequence>
            <xsd:element name="Beta"          type="BetaDistribution"          minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Exponential"   type="ExponentialDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Gamma"         type="GammaDistribution"         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Logistic"      type="LogisticDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="LogNormal"     type="LogNormalDistribution"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Normal"        type="NormalDistribution"        minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Triangular"    type="TriangularDistribution"    minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Uniform"       type="UniformDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Weibull"       type="WeibullDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Bernoulli"     type="BernoulliDistribution"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Binomial"      type="BinomialDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Poisson"       type="PoissonDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="NDInverseWeight"   type="NDInverseWeightDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="NDCartesianSpline" type="NDCartesianSplineDistribution" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- *********************************************************************** -->
    <!--                              Distributions                              -->
    <!-- *********************************************************************** -->
    <xsd:complexType name="BetaDistribution">
        <xsd:all>
            <xsd:element name="lowerBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:float">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="upperBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:float">
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="low"        type="xsd:float" minOccurs="1"/>
            <!-- low cannot be less than lowerBound -->
            <xsd:element name="high"       type="xsd:float" minOccurs="1"/>
            <!-- high cannot be larger than upperBound -->
            <xsd:element name="alpha"      type="xsd:float" minOccurs="0"/>
            <xsd:element name="beta"       type="xsd:float" minOccurs="0"/>
            <!-- either both alpha and beta or peak factor must be specified -->
            <xsd:element name="peakFactor" type="xsd:float" minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="ExponentialDistribution">
        <xsd:all>
            <xsd:element name="lowerBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:float">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="upperBound" type="xsd:float" minOccurs="0"/>
            <xsd:element name="lambda"     type="xsd:float" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="GammaDistribution">
        <xsd:all>
            <xsd:element name="lowerBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="alpha"      type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="beta"       type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="low"        type="xsd:float" minOccurs="1"/>
            <!-- low cannot be less than lowerBound -->
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="LogisticDistribution">
        <xsd:all>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="location"      type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="scale"         type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="LogNormalDistribution">
        <xsd:all>
            <xsd:element name="lowerBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="mean"       type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="sigma"      type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="NormalDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:float" minOccurs="0"/>
            <xsd:element name="upperBound" type="xsd:float" minOccurs="0"/>
            <xsd:element name="mean"       type="xsd:float" minOccurs="1"/>
            <xsd:element name="sigma"      type="xsd:float" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="TriangularDistribution">
        <xsd:all>
            <xsd:element name="min"  type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="max"  type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="apex" type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="UniformDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:float" minOccurs="1"/>
            <xsd:element name="upperBound" type="xsd:float" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="WeibullDistribution">
        <xsd:all>
            <xsd:element name="lowerBound"                    minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="k"          type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="lambda"     type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="BernoulliDistribution">
        <xsd:all>
            <xsd:element name="p" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="BinomialDistribution">
        <xsd:all>
            <xsd:element name="p" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="n" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:integer">
                        <xsd:minExclusive value="0"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="PoissonDistribution">
        <xsd:all>
            <xsd:element name="mu" type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
    
    <xsd:simpleType name="typeAttr">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PDF"/>
            <xsd:enumeration value="CDF"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="data_filenameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="typeAttr" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="NDInverseWeightDistribution">
        <xsd:all>
            <xsd:element name="p"             type="xsd:decimal"       minOccurs="1"/>
            <xsd:element name="working_dir"   type="xsd:string"        minOccurs="1"/>
            <xsd:element name="data_filename" type="data_filenameType" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="NDCartesianSplineDistribution">
        <xsd:all>
            <xsd:element name="data_filename" type="data_filenameType" minOccurs="1"/>
            <xsd:element name="working_dir"   type="xsd:string"        minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>
</xsd:schema>
