developer_tools/XSDSchemas/Distributions.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">

    <xsd:complexType name="DistributionData">
        <xsd:choice minOccurs="1"  maxOccurs="unbounded">
            <xsd:element name="Beta"          type="BetaDistribution"          minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Exponential"   type="ExponentialDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Gamma"         type="GammaDistribution"         minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Geometric"     type="GeometricDistribution"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Laplace"       type="LaplaceDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Logistic"      type="LogisticDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="LogNormal"     type="LogNormalDistribution"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="LogUniform"    type="LogUniformDistribution"    minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Normal"        type="NormalDistribution"        minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Triangular"    type="TriangularDistribution"    minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Uniform"       type="UniformDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Weibull"       type="WeibullDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Bernoulli"     type="BernoulliDistribution"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Binomial"      type="BinomialDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Poisson"       type="PoissonDistribution"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Categorical"   type="CategoricalDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="UniformDiscrete"   type="UniformDiscreteDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MarkovCategorical"   type="MarkovCategoricalDistribution"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Custom1D"      type="Custom1DDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="NDInverseWeight"    type="NDInverseWeightDistribution"        minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="NDCartesianSpline"  type="NDCartesianSplineDistribution"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="MultivariateNormal" type="MultivariateNormalDistribution"     minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    <!-- *********************************************************************** -->
    <!--                              Distributions                              -->
    <!-- *********************************************************************** -->
    <xsd:complexType name="BetaDistribution">
        <xsd:sequence>
            <!-- either both alpha and beta or peak factor must be specified -->
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="alpha"      type="xsd:float" minOccurs="0"/>
                    <xsd:element name="beta"       type="xsd:float" minOccurs="0"/>
                </xsd:sequence>
                <xsd:element name="peakFactor" type="xsd:float" minOccurs="0"/>
            </xsd:choice>
            <xsd:element name="low"        type="xsd:float" minOccurs="1"/>
            <!-- low cannot be less than lowerBound -->
            <xsd:element name="high"       type="xsd:float" minOccurs="1"/>
            <!-- high cannot be larger than upperBound -->
            <xsd:element name="lowerBound" type="xsd:float" minOccurs="0" />
            <xsd:element name="upperBound" type="xsd:float" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="ExponentialDistribution">
        <xsd:all>
            <xsd:element name="upperBound" type="xsd:float"     minOccurs="0"/>
            <xsd:element name="lowerBound" type="xsd:float"     minOccurs="0"/>
            <xsd:element name="lambda"     type="xsd:float"     minOccurs="1"/>
            <xsd:element name="low"        type="unsignedFloat" minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="GammaDistribution">
        <xsd:all>
            <!-- I am assuming this translates and stretches the distribution, thus it is unbounded -->
            <xsd:element name="upperBound" type="xsd:float"     minOccurs="0"/>
            <xsd:element name="lowerBound" type="xsd:float"     minOccurs="0"/>
            <xsd:element name="alpha"      type="positiveFloat" minOccurs="1"/>
            <xsd:element name="beta"       type="positiveFloat" minOccurs="0"/>
            <xsd:element name="low"        type="xsd:float" minOccurs="0"/>
            <!-- low cannot be less than lowerBound -->
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="LaplaceDistribution">
        <xsd:all>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="location"   type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="scale"      type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="LogisticDistribution">
        <xsd:all>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="location"   type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="scale"      type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="LogNormalDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="mean"       type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="sigma"      type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="NormalDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:float" minOccurs="0"/>
            <xsd:element name="upperBound" type="xsd:float" minOccurs="0"/>
            <xsd:element name="mean"       type="xsd:float" minOccurs="1"/>
            <xsd:element name="sigma"      type="xsd:float" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="TriangularDistribution">
        <xsd:all>
            <xsd:element name="min"  type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="max"  type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="apex" type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="UniformDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:float" minOccurs="1"/>
            <xsd:element name="upperBound" type="xsd:float" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="LogUniformDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:float"  minOccurs="1"/>
            <xsd:element name="upperBound" type="xsd:float"  minOccurs="1"/>
            <xsd:element name="base"       type="xsd:string" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="WeibullDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="k"          type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="lambda"     type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="BernoulliDistribution">
        <xsd:all>
            <xsd:element name="p" type="percentFloat" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="BinomialDistribution">
        <xsd:all>
            <xsd:element name="p" type="percentFloat" minOccurs="1"/>
            <xsd:element name="n" type="xsd:positiveInteger" minOccurs="1" />
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="GeometricDistribution">
        <xsd:all>
            <xsd:element name="p" type="percentFloat" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="PoissonDistribution">
        <xsd:all>
            <xsd:element name="mu" type="xsd:decimal" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="UniformDiscreteDistribution">
        <xsd:all>
            <xsd:element name="lowerBound" type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="upperBound" type="xsd:decimal" minOccurs="1"/>
            <xsd:element name="strategy" type="xsd:string" minOccurs="1"/>
            <xsd:element name="nPoints" type="xsd:string" minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>
    
    <xsd:complexType name="stateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="outcome" type="xsd:decimal" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="CategoricalDistribution">
        <xsd:sequence>
            <xsd:element name="state" type="stateType" minOccurs="1" maxOccurs="200"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>
    
    <xsd:complexType name="MarkovStateType">
        <xsd:attribute name="outcome" type="xsd:decimal" use="required"/>
        <xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="MarkovCategoricalDistribution">
        <xsd:sequence>
            <xsd:element name="transition"   type="floatList"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="workingDir"   type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="state" type="MarkovStateType" minOccurs="1" maxOccurs="200"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="Custom1DDistribution">
        <xsd:all>
            <xsd:element name="dataFilename" type="xsd:string" minOccurs="1"/>
            <xsd:element name="functionID"   type="xsd:string" minOccurs="1"/>
            <xsd:element name="variableID"   type="xsd:string" minOccurs="1"/>
            <xsd:element name="functionType" type="xsd:string" minOccurs="1"/>
            <xsd:element name="workingDir"   type="xsd:string" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:simpleType name="typeAttr">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PDF"/>
            <xsd:enumeration value="CDF"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="dataFilenameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="typeAttr" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="NDInverseWeightDistribution">
        <xsd:all>
            <xsd:element name="p"             type="xsd:decimal"       minOccurs="1"/>
            <xsd:element name="workingDir"   type="xsd:string"        minOccurs="1"/>
            <xsd:element name="dataFilename" type="dataFilenameType" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>
    <xsd:complexType name="NDCartesianSplineDistribution">
        <xsd:all>
            <xsd:element name="dataFilename" type="dataFilenameType" minOccurs="1"/>
            <xsd:element name="workingDir"   type="xsd:string"        minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>
    <xsd:complexType name="MultivariateNormalDistribution">
        <xsd:all>
            <xsd:element name="covariance"    type="covarianceType"         minOccurs="1"/>
            <xsd:element name="mu"            type="floatList"         minOccurs="1"/>
            <xsd:element name="transformation"     type="transformationType"     minOccurs="0"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="method"  type="xsd:string"  use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="covarianceType">
        <xsd:simpleContent>
            <xsd:extension base="floatList">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="variablesType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="transformationType">
      <xsd:all>
        <xsd:element name="rank" type="xsd:positiveInteger" minOccurs="1"/>
      </xsd:all>
    </xsd:complexType>

</xsd:schema>
