developer_tools/XSDSchemas/Optimizers.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
    <!-- *********************************************************************** -->
    <!--                                 Optimizers                              -->
    <!-- *********************************************************************** -->
    <xsd:complexType name="OptimizerData">
        <xsd:sequence>
          <xsd:element name="GradientDescent" type="GradientDescentOptimizer" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="SimulatedAnnealing" type="SimulatedAnnealingOptimizer" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="GeneticAlgorithm" type="GeneticAlgorithmOptimizer" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="optVarType">
      <xsd:complexContent>
        <xsd:extension base="variableType">
          <xsd:sequence>
            <xsd:element name="initial" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="optInitType">
      <xsd:all>
        <xsd:element name="limit"                    type="xsd:string"  minOccurs="0"/>
        <xsd:element name="initialSeed"              type="xsd:integer" minOccurs="0"/>
        <xsd:element name="type" type="xsd:string" minOccurs="0"/>
        <xsd:element name="writeSteps" type="xsd:string" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="GradientEstimatorData">
        <xsd:choice>
          <xsd:element name="FiniteDifference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="CentralDifference" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SPSA" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="StepManipulatorData">
        <xsd:choice>
          <xsd:element name="GradientHistory" type="GradientHistorySMType" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ConjugateGradient" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="GradientHistorySMType">
        <xsd:all>
          <xsd:element name="growthFactor" type="xsd:float" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="shrinkFactor" type="xsd:float" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="initialStepScale" type="xsd:float" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="OptAcceptanceType">
        <xsd:choice>
          <xsd:element name="Strict" type="EmptyType" minOccurs="0" maxOccurs="1"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="EmptyType"/>

    <xsd:complexType name="terminateFollowersType">
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="proximity" type="xsd:float" use="optional"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="OptConvergenceType">
      <xsd:all>
        <xsd:element name="persistence" type="xsd:integer" minOccurs="0"/>
        <xsd:element name="gradient" type="xsd:float" minOccurs="0"/>
        <xsd:element name="objective" type="xsd:float" minOccurs="0"/>
        <xsd:element name="stepSize" type="xsd:float" minOccurs="0"/>
        <xsd:element name="terminateFollowers" type="terminateFollowersType" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="SAConvergenceType">
      <xsd:all>
        <xsd:element name="persistence"        type="xsd:integer" minOccurs="0"/>
        <xsd:element name="objective"          type="xsd:float" minOccurs="0"/>
        <xsd:element name="temperature"        type="xsd:float" minOccurs="0"/>
        <xsd:element name="AHDp"               type="xsd:float" minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>

    <!-- <xsd:complexType name="linearCoolingType">
      <xsd:element name="beta" type="xsd:float"/>
    </xsd:complexType> -->

    <xsd:complexType name="exponentialCoolingType">
      <xsd:all>
      <xsd:element name="alpha" type="xsd:float"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="boltzmanCoolingType">
      <xsd:all>
      <xsd:element name="d" type="xsd:float"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="cauchyCoolingType">
      <xsd:all>
      <xsd:element name="d" type="xsd:float"/>
      </xsd:all>
    </xsd:complexType>

    <!-- <xsd:complexType name="fastCoolingType">
      <xsd:element name="c" type="xsd:float"/>
    </xsd:complexType> -->

    <xsd:complexType name="veryFastCoolingType">
      <xsd:all>
      <xsd:element name="c" type="xsd:float"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="OptCoolingScheduleType">
      <xsd:choice>
        <!-- <xsd:element name="linear" type="linearCoolingType"/> -->
        <xsd:element name="exponential" type="exponentialCoolingType"/>
        <xsd:element name="cauchy" type="cauchyCoolingType"/>
        <xsd:element name="boltzmann" type="boltzmanCoolingType"/>
        <!-- <xsd:element name="fast" type="fastCoolingType"/> -->
        <xsd:element name="veryfast" type="veryFastCoolingType"/>
      </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="GradientDescentOptimizer">
        <xsd:sequence>
            <xsd:element name="objective"        type="xsd:string"            minOccurs="1" maxOccurs="1"/>
            <xsd:element name="variable"         type="optVarType"            minOccurs="1" maxOccurs='unbounded'/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"   minOccurs="1" maxOccurs="1"/>
            <xsd:element name="samplerInit"      type="optInitType"           minOccurs="0"/>
            <xsd:element name="gradient"         type="GradientEstimatorData" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="stepSize"         type="StepManipulatorData"   minOccurs="1" maxOccurs="1"/>
            <xsd:element name="acceptance"       type="OptAcceptanceType"     minOccurs="1" maxOccurs="1"/>
            <xsd:element name="convergence"      type="OptConvergenceType"    minOccurs="0" maxOccurs="1"/>
            <xsd:element name="constant"         type="constantVarType"       minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="ConstantSource"         minOccurs="0" maxOccurs='unbounded'>
              <xsd:complexType mixed="true">
                <xsd:attribute name="class" type="xsd:string" use="required"/>
                <xsd:attribute name="type" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Constraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ImplicitConstraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Sampler"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Restart"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="restartTolerance" type="xsd:float"           minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variableTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"      type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>

    <xsd:complexType name="SimulatedAnnealingOptimizer">
        <xsd:sequence>
            <xsd:element name="samplerInit"      type="optInitType"            minOccurs="0"/>
            <xsd:element name="convergence"      type="SAConvergenceType"      minOccurs="0" maxOccurs="1"/>
            <xsd:element name="coolingSchedule"  type="OptCoolingScheduleType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variable"         type="optVarType"             minOccurs="1" maxOccurs='unbounded'/>
            <xsd:element name="objective"        type="xsd:string"             minOccurs="1" maxOccurs="1"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"    minOccurs="1" maxOccurs="1"/>
            <xsd:element name="constant"         type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="ConstantSource"         minOccurs="0" maxOccurs='unbounded'>
              <xsd:complexType mixed="true">
                <xsd:attribute name="class" type="xsd:string" use="required"/>
                <xsd:attribute name="type" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Sampler"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Constraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ImplicitConstraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Restart"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="restartTolerance" type="xsd:float"           minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variableTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"      type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>

    <xsd:complexType name="crossoverType">
      <xsd:all>
        <xsd:element name="crossoverProb"   type="xsd:float" />
      </xsd:all>
      <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>

     <xsd:complexType name="mutationType">
      <xsd:all>
        <xsd:element name="mutationProb"   type="xsd:float" />
        <xsd:element name="locs"           type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:all>
      <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="reproductionType">
      <xsd:all>
        <xsd:element name="crossover"   type="crossoverType" />
        <xsd:element name="mutation"    type="mutationType"  />
      </xsd:all>
      <xsd:attribute name="nParents" type="xsd:integer" />
    </xsd:complexType>

    <xsd:complexType name="fitnessType">
      <xsd:all>
        <xsd:element name="a"     type="xsd:float" minOccurs="0" maxOccurs='1'/>
        <xsd:element name="b"     type="xsd:float" minOccurs="0" maxOccurs='1'/>
      </xsd:all>
      <xsd:attribute name="type" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="GAoptInitType">
      <xsd:all>
        <xsd:element name="populationSize"     type="xsd:integer"          />
        <xsd:element name="parentSelection"    type="xsd:string"           />
        <xsd:element name="reproduction"       type="reproductionType"     />
        <xsd:element name="fitness"            type="fitnessType"          />
        <xsd:element name="survivorSelection"  type="xsd:string"           />
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="GeneticAlgorithmOptimizer">
        <xsd:sequence>
            <xsd:element name="samplerInit"      type="optInitType"            minOccurs="0"/>
            <xsd:element name="GAparams"         type="GAoptInitType"          minOccurs="0" maxOccurs="1"/>
            <xsd:element name="convergence"      type="SAConvergenceType"      minOccurs="0" maxOccurs="1"/>
            <xsd:element name="coolingSchedule"  type="OptCoolingScheduleType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variable"         type="optVarType"             minOccurs="1" maxOccurs='unbounded'/>
            <xsd:element name="objective"        type="xsd:string"             minOccurs="1" maxOccurs="1"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"    minOccurs="1" maxOccurs="1"/>
            <xsd:element name="constant"         type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="ConstantSource"         minOccurs="0" maxOccurs='unbounded'>
              <xsd:complexType mixed="true">
                <xsd:attribute name="class" type="xsd:string" use="required"/>
                <xsd:attribute name="type" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Sampler"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Constraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ImplicitConstraint"       type="AssemblerObjectType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Restart"          type="AssemblerObjectType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="restartTolerance" type="xsd:float"           minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variableTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"      type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>
</xsd:schema>
