developer_tools/XSDSchemas/raven.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
    
    <xsd:include schemaLocation="Distributions.xsd"/>
    <xsd:include schemaLocation="Samplers.xsd"/>
    <xsd:include schemaLocation="Optimizers.xsd"/>
    <xsd:include schemaLocation="Models.xsd"/>
    <xsd:include schemaLocation="Functions.xsd"/>
    <xsd:include schemaLocation="Files.xsd"/>
    <xsd:include schemaLocation="VarGroups.xsd"/>
    <xsd:include schemaLocation="OutstreamManager.xsd"/>
    <xsd:include schemaLocation="Steps.xsd"/>
    <xsd:include schemaLocation="Databases.xsd"/>
    <xsd:include schemaLocation="DataObjects.xsd"/>
    <xsd:include schemaLocation="TestInfo.xsd"/>
    <xsd:include schemaLocation="Metrics.xsd"/>
    <xsd:include schemaLocation="globalAttributes.xsd" />

    <xsd:element name="Simulation">
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="RunInfo"        type="RunInfoData"      minOccurs="1"/>
                <xsd:element name="Steps"          type="StepType"         minOccurs="1"/>
                <xsd:element name="TestInfo"       type="TestInfoData"     minOccurs="0"/>
                <xsd:element name="Models"         type="ModelsData"       minOccurs="0"/>
                <xsd:element name="Files"          type="FilesType"        minOccurs="0"/>
                <xsd:element name="VariableGroups" type="VarGroupsType"    minOccurs="0"/>
                <xsd:element name="Samplers"       type="SamplerData"      minOccurs="0"/>
                <xsd:element name="Optimizers"     type="OptimizerData"    minOccurs="0"/>
                <xsd:element name="DataObjects"    type="DataObjectsData"  minOccurs="0"/>
                <xsd:element name="Distributions"  type="DistributionData" minOccurs="0"/>
                <xsd:element name="Functions"      type="FunctionType"     minOccurs="0"/>
                <xsd:element name="Databases"      type="DatabaseType"     minOccurs="0"/>
                <xsd:element name="OutStreams"     type="OutStreamData"    minOccurs="0"/>
                <xsd:element name="Metrics"        type="MetricsData"      minOccurs="0"/>
            </xsd:all>
            <xsd:attribute name="verbosity"       type="verbosityAttr" default="all"/>
            <xsd:attribute name="printTimeStamps" type="RavenBool" />
            <xsd:attribute name="color"           type="RavenBool" />
            <xsd:attribute name="profile"         type="xsd:string" />
        </xsd:complexType>
        <xsd:key name="distName">
            <xsd:selector xpath="./Distributions/*"/>
            <xsd:field    xpath="@name"/>
        </xsd:key>
        <xsd:keyref name="samplerName1"  refer="distName">
            <xsd:selector xpath="./Samplers/*/variable/distribution"/>
            <xsd:field    xpath="."/>
        </xsd:keyref>
        <xsd:keyref name="samplerName2"  refer="distName">
            <xsd:selector xpath="./Samplers/*/Distribution/distribution"/>
            <xsd:field    xpath="."/>
        </xsd:keyref>
<!--         <xsd:key name="ppName">
            <xsd:selector xpath="./Models/PostProcessor"/>
            <xsd:field    xpath="@name"/>
        </xsd:key> -->
    </xsd:element>

    <xsd:complexType name="RunInfoData">
        <xsd:all>
            <xsd:element name="WorkingDir"                            minOccurs="1">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="runRelative" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Sequence"           type="xsd:string"  minOccurs="1"/>
            <xsd:element name="batchSize"          type="xsd:integer" minOccurs="0" default="1"/>
            <xsd:element name="maxQueueSize"       type="xsd:integer" minOccurs="0" default="1"/>
            <xsd:element name="RemoteRunCommand"   type="xsd:string"  minOccurs="0" default="raven_qsub_command.sh"/>
            <xsd:element name="internalParallel"   type="RavenBool"   minOccurs="0" default="false"/>
            <xsd:element name="JobName"            type="xsd:string"  minOccurs="0"/>
            <xsd:element name="printInput"         type="xsd:string"  minOccurs="0" default=""/>
            <xsd:element name="NumThreads"         type="xsd:integer" minOccurs="0" default="1"/>
            <xsd:element name="mode" minOccurs="0">
                <xsd:complexType mixed="true">
                    <xsd:choice maxOccurs="unbounded">
                        <xsd:element name="place"        type="xsd:string" minOccurs="0"/>
                        <xsd:element name="memory"       type="xsd:string" minOccurs="0"/>
                        <xsd:element name="coresneeded"  type="xsd:string" minOccurs="0"/>
                        <xsd:element name="runQSUB"                        minOccurs="0"/>
                        <xsd:element name="nodefile"     type="xsd:string" minOccurs="0"/>
                        <xsd:element name="nodefileenv"  type="xsd:string" minOccurs="0"/>
                        <xsd:element name="NoSplitNode" minOccurs="0">
                          <xsd:complexType>
                            <xsd:attribute name="maxOnNode" type="xsd:integer" />
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="LimitNode" minOccurs="0">
                          <xsd:complexType>
                            <xsd:attribute name="maxOnNode" type="xsd:integer" use="required"/>
                          </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MPIExec"            type="xsd:string"  minOccurs="0" default="mpiexec"/>
            <xsd:element name="NodeParameter"      type="xsd:string"  minOccurs="0" default="-f"/>
            <xsd:element name="NumMPI"             type="xsd:integer" minOccurs="0" default="1"/>
            <xsd:element name="totalNumCoresUsed"  type="xsd:integer" minOccurs="0" default="1"/>
            <xsd:element name="precommand"         type="xsd:string"  minOccurs="0" default="None"/>
            <xsd:element name="postcommand"        type="xsd:string"  minOccurs="0" default="None"/>
            <xsd:element name="clusterParameters"  type="xsd:string"  minOccurs="0" default="None"/>
            <xsd:element name="MaxLogSize"         type="xsd:integer" minOccurs="0"/>
            <xsd:element name="deleteOutExtension" type="xsd:string"  minOccurs="0" default="None"/>
            <xsd:element name="delSucLogFiles"     type="RavenBool" minOccurs="0" default="false"/>

            <xsd:element name="queueingSoftware" type="xsd:string"  minOccurs="0" default="PBS PROFESSIONAL"/>

            <xsd:element name="expectedTime"     type="xsd:string"  minOccurs="0" default="None"/>
            <xsd:element name="DefaultInputFile" type="xsd:string"  minOccurs="0" default="test.xml"/>
            <xsd:element name="CustomMode"       minOccurs="0">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="file"   type="xsd:string"  use="required"/>
                    <xsd:attribute name="class"  type="xsd:string"  use="required"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:simpleType  name="PPsubType">
        <xsd:restriction   base="xsd:string">
            <xsd:enumeration value="BasicStatistics"/>
            <xsd:enumeration value="ComparisonStatistics"/>
            <xsd:enumeration value="SafestPoint" />
            <xsd:enumeration value="LimitSurface" />
            <xsd:enumeration value="LimitSurfaceIntegral" />
            <xsd:enumeration value="External" />
            <xsd:enumeration value="TopologicalDecomposition" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="PostProcessor">
        <xsd:attribute name="name"        type="xsd:string" use="required"/>
        <xsd:attribute name="subtype"        type="PPsubType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType  name="BasicStatsWhatType">
        <xsd:restriction   base="xsd:string">
            <xsd:enumeration value="covariance matrix"/>
            <xsd:enumeration value="NormalizedSensitivity"/>
            <xsd:enumeration value="VarianceDependentSensitivity" />
            <xsd:enumeration value="sensitivity" />
            <xsd:enumeration value="pearson" />
            <xsd:enumeration value="expectedValue" />
            <xsd:enumeration value="sigma" />
            <xsd:enumeration value="variationCoefficient" />
            <xsd:enumeration value="variance" />
            <xsd:enumeration value="skewness" />
            <xsd:enumeration value="kurtosis" />
            <xsd:enumeration value="median" />
            <xsd:enumeration value="percentile" />
            <xsd:enumeration value="samples" />
            <xsd:enumeration value="all" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AssemblerObjectType">
      <xsd:simpleContent>
        <xsd:extension base='xsd:string'>
          <xsd:attribute name='class' type='xsd:string' use='required' />
          <xsd:attribute name='type'  type='xsd:string' use='required' />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="BasicStatistics">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="what" type="BasicStatsWhatType" minOccurs="1"></xsd:element>
            <xsd:element name='biased' type='RavenBool' minOccurs="0" default='false'></xsd:element>
            <xsd:element name='parameters' type='xsd:string' minOccurs="1"></xsd:element>
            <xsd:element name='methodsToRun' type='xsd:string' minOccurs="0"></xsd:element>
            <!-- TODO: Somehow point to the things existing in the function block-->
            <!-- TODO: Also conditionally require the function node if methodsToRun is present -->
            <xsd:element name='Function' type="AssemblerObjectType" minOccurs="0" />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType  name="CompStatsBinMethod">
        <xsd:restriction   base="xsd:string">
            <xsd:enumeration value="square-root"/>
            <xsd:enumeration value="sturges"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--TODO: Figure out what type any of these sub-elements are supposed to be -->
    <xsd:complexType name="ComparisonStatistics">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="kind" minOccurs="1">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base='xsd:string'>
                    <xsd:attribute name='numBins' type='xsd:integer' use='required' />
                    <xsd:attribute name='binMethod'  type='CompStatsBinMethod' use='required' />
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="compare" minOccurs="1">
              <xsd:complexType>
                <xsd:all>
                  <xsd:element name='data' type='xsd:string' />
                  <!--TODO: Must be one of the Distributions -->
                  <xsd:element name='reference' type='xsd:string'/>
                </xsd:all>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="fz" type="RavenBool" />
            <xsd:element name="interpolation" type="xsd:string" />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name='SafestPointVariable'>
      <xsd:all>
        <xsd:element name='distribution' type='xsd:string' />
        <xsd:element name='grid'>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base='xsd:integer'>
                <xsd:attribute name='steps' type='xsd:integer' use='required' />
                <xsd:attribute name='type'  type='xsd:integer' use='required' />
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:all>
      <xsd:attribute name='class' type='xsd:string' use='required' />
      <xsd:attribute name='type'  type='xsd:string' use='required' />
    </xsd:complexType>

    <!--TODO: Figure out what type any of these sub-elements are supposed to be -->
    <xsd:complexType name="SafestPoint">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="kind" minOccurs="1"></xsd:element>
            <!-- TODO: Somehow point to the things existing in the Distributions block-->
            <xsd:element name='Distribution' type="AssemblerObjectType" minOccurs="1" />
            <xsd:element name="controllable" type='SafestPointVariable' />
            <xsd:element name="non-controllable" type='SafestPointVariable' />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType  name="LimitSurfaceSide">
      <xsd:restriction   base="xsd:string">
        <xsd:enumeration value="negative"/>
        <xsd:enumeration value="positive"/>
        <xsd:enumeration value="both"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="LimitSurface">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="parameters" type='xsd:string' minOccurs="1"/>
            <xsd:element name="tolerance" type='xsd:float' default="1e-4"/>
            <xsd:element name="side" type='LimitSurfaceSide' />
            <!-- TODO: Somehow point to the things existing in the function block-->
            <xsd:element name='ROM' minOccurs="0">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base='xsd:string'>
                    <xsd:attribute name='class' type='xsd:string' use='required' />
                    <xsd:attribute name='type'  type='xsd:string' use='required' />
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>

            <!-- TODO: Somehow point to the things existing in the function block-->
            <xsd:element name='Function' type="AssemblerObjectType" minOccurs="0" />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="LimitSurfaceIntegral">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="variable" minOccurs="1">
              <xsd:complexType>
                <xsd:all minOccurs="0">
                  <!-- TODO: Somehow point to the things existing in the Distributions block-->
                  <xsd:element name="distribution" type="xsd:string" minOccurs="0" />
                  <!-- TODO: either the above or the two below are required-->
                  <xsd:element name="lowerBound" type="xsd:float" minOccurs="0" />
                  <xsd:element name="upperBound" type="xsd:float" minOccurs="0" />
                </xsd:all>
                <xsd:attribute name="name" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="tolerance" type="xsd:float" minOccurs="0" default="1e-4" />
            <xsd:element name="integralType" type="xsd:string" minOccurs="0" fixed="MonteCarlo" />
            <xsd:element name="seed" type="xsd:integer" minOccurs="0" default="20021986" />
            <xsd:element name="target" type="xsd:string" minOccurs="0"/>
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="External">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="method" type="xsd:string" minOccurs="1" />
            <xsd:element name='Function' type="AssemblerObjectType" minOccurs="1" />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="fileOutputType">
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="name" type="xsd:string" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="fileObjectType">
      <xsd:all minOccurs="0">
        <xsd:element name="output" type="fileOutputType" minOccurs="1" />
      </xsd:all>
      <xsd:attribute name="name" type="xsd:string" default="all"/>
      <!-- The ids are typically floats, but to generalize all floats are technically strings, plus XSD didn't like a float here. -->
      <xsd:attribute name="id" type="xsd:string" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="RavenOutput">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="File" type="fileObjectType" minOccurs="1" />
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType  name="TopoGraph">
      <xsd:restriction   base="xsd:string">
        <xsd:enumeration value="beta skeleton"/>
        <xsd:enumeration value="relaxed beta skeleton"/>
        <xsd:enumeration value="approximate knn"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType  name="TopoGradient">
      <xsd:restriction   base="xsd:string">
        <xsd:enumeration value="steepest"/>
        <xsd:enumeration value="maxflow"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType  name="TopoBeta">
      <xsd:restriction   base="xsd:float">
        <xsd:minExclusive value="0"/>
        <xsd:maxInclusive value="2"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType  name="TopoPersistence">
      <xsd:restriction   base="xsd:string">
        <xsd:enumeration value="difference"/>
        <xsd:enumeration value="probability"/>
        <xsd:enumeration value="count"/>
      </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="TopologicalDecomposition">
      <xsd:complexContent>
        <xsd:extension base="PostProcessor">
          <xsd:all minOccurs="0">
            <xsd:element name="graph" type="TopoGraph" default="beta skeleton"/>
            <xsd:element name="gradient" type="TopoGradient" default="steepest"/>
            <xsd:element name="beta" type="TopoBeta" default="1."/>
            <xsd:element name="knn" type="xsd:integer" default="-1"/>
            <xsd:element name="weighted" type="RavenBool" default="false"/>
            <xsd:element name="persistence" type="TopoPersistence" default="difference"/>
            <xsd:element name="simplification" type="xsd:float" default="0"/>
            <xsd:element name="parameters" type="xsd:string" minOccurs="1"/>
            <xsd:element name="response" type="xsd:string" minOccurs="1"/>
          </xsd:all>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>
