developer_tools/XSDSchemas/Samplers.xsd

<?xml version="1.0"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">
    <!-- *********************************************************************** -->
    <!--                                 Samplers                                -->
    <!-- *********************************************************************** -->
    <xsd:complexType name="SamplerData">
        <xsd:sequence>
            <xsd:element name="MonteCarlo"               type="MonteCarloSampler"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Grid"                     type="GridSampler"            minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="SparseGridCollocation"    type="SparseGridSampler"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Sobol"                    type="SparseGridSampler"      minOccurs="0" maxOccurs="unbounded"/>
            <!--Why is the Sobol nicknamed SparseGridSampler, the same as SparseGridCollocation? -->
            <xsd:element name="Stratified"               type="GridSampler"            minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="CustomSampler"            type="CustomSampler"          minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ResponseSurfaceDesign"    type="ResponseSurfaceSampler" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="FactorialDesign"          type="FactorialSampler"       minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="DynamicEventTree"         type="DETSampler"             minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="LimitSurfaceSearch"       type="LSSSampler"             minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdaptiveSparseGrid"       type="AdaptiveSGSampler"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdaptiveDynamicEventTree" type="AdaptiveDETSampler"     minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdaptiveSobol"            type="AdaptiveSobolSampler"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="EnsembleForward"          type="EnsembleForwardSampler" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="AdaptiveMonteCarlo"       type="AdaptiveMCSampler"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Metropolis"               type="MetropolisSampler"             minOccurs="0" maxOccurs="unbounded"/>

        </xsd:sequence>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="samplerInitType">
        <xsd:all>
            <!-- the requirements below will change depending on the fixes in the manual -->
            <xsd:element name="limit"                    type="xsd:string"  minOccurs="0"/>
            <xsd:element name="initialSeed"              type="xsd:integer" minOccurs="0"/>
            <xsd:element name="reseedEachIteration"      type="xsd:string"  minOccurs="0"/>
            <xsd:element name="samplingType"             type="xsd:string"  minOccurs="0"/>
            <xsd:element name="distInit" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- ******************* -->
                        <!-- Not yet implemented -->
                        <!-- ******************* -->
                        <xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>


    <xsd:simpleType name="variableDistributionType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!-- ************************** -->
    <!-- Insufficiently Implemented -->
    <!-- ************************** -->
    <!-- The extendedVariableDistributionType adds <grid> onto BOTH the <var><dist> node as well as <var><function>,
              when it really should only be <var><dist>. This can mostly be resolved, except in the
              HybridDET Hybrid samplers, where it's impossible to tell if the precon is grid or non-grid type.-->
    <xsd:complexType name="extendedVariableDistributionType">
        <xsd:simpleContent>
            <xsd:extension base="variableDistributionType">
                <xsd:attribute name="dim"  type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="variablesTransformationType">
        <xsd:all>
          <xsd:element name="latentVariables" type="xsd:string" minOccurs="1"/>
          <xsd:element name="manifestVariables" type="xsd:string" minOccurs="1"/>
          <xsd:element name="manifestVariablesIndex" type="xsd:string" minOccurs="0"/>
          <xsd:element name="method" type="xsd:string" minOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="distribution"  type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="gridType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"> <!--base="floatList" due to globalGrid-->
                <xsd:attribute name="type"         type="xsd:string" use="required"/>
                <xsd:attribute name="construction" type="xsd:string"/> <!--Due to globalGrid use="required"/-->
                <!-- The condition is not yet implemented -->
                <xsd:attribute name="steps"        type="xsd:integer"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="variableType">
      <xsd:sequence>
        <xsd:choice>
            <xsd:element name="distribution" type="extendedVariableDistributionType" minOccurs="1"/>
            <xsd:element name="function"     type="xsd:string"                       minOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="shape" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="extendedVariableType">
        <xsd:complexContent>
            <xsd:extension base="variableType">
              <xsd:sequence>
                 <xsd:element name="grid"       type="gridType"       minOccurs="0"/>
              </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="variableTypeCustomSampler">
        <xsd:choice>
            <xsd:element name="function"     type="xsd:string"        minOccurs="0"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="nameInSource" type="xsd:string"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="constantVarType">
      <xsd:simpleContent>
        <xsd:extension base="xsd:string"> <!-- string constants are a thing -->
          <xsd:attribute name="name" type="xsd:string" use="required"/>
          <xsd:attribute name="shape" type="xsd:string" />
          <xsd:attribute name="index" type="xsd:string" />
          <xsd:attribute name="source" type="xsd:string" />
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="MonteCarloSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="samplerInitType" minOccurs="1"/>
            <xsd:element name="variable"     type="variableType"    minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Restart"      type="AssemblerObjectType"   minOccurs="0"  maxOccurs="unbounded"/>
            <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
            <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="CustomSampler">
        <xsd:sequence>
            <xsd:element name="Source"       minOccurs="1"  maxOccurs="1">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="class" type="xsd:string" use="required"/>
                    <xsd:attribute name="type"  type="xsd:string" use="required"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="index"        type="xsd:string"                minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variable"     type="variableTypeCustomSampler" minOccurs="0" maxOccurs="unbounded"/>

	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Restart"      type="AssemblerObjectType"   minOccurs="0"  maxOccurs="unbounded"/>

        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>


    <xsd:complexType name="GridSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="samplerInitType"      minOccurs="0"/>
            <xsd:element name="variable"     type="extendedVariableType" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Distribution" type="extendedVariableType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="globalGrid"                              minOccurs="0">
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:element name="grid"                   minOccurs="1" maxOccurs="unbounded">
                            <xsd:complexType mixed="true">
                                <xsd:attribute name="name"         type="xsd:string" use="required"/>
                                <xsd:attribute name="type"         type="xsd:string" use="required"/>
                                <xsd:attribute name="construction" type="xsd:string" use="required"/>
                                <!-- The condition is not yet implemented -->
                                <xsd:attribute name="steps"        type="xsd:integer" />
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConstantSource"         minOccurs="0" maxOccurs='unbounded'>
                <xsd:complexType mixed="true">
                    <xsd:attribute name="class" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Restart"         type="AssemblerObjectType"   minOccurs="0"  maxOccurs="unbounded"/>
            <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
            <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="SparseGridSampler">
        <xsd:sequence>
            <xsd:element name="variable"        type="variableType"          minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <!--xsd:element name="Distribution" type="variableType"          minOccurs="0" maxOccurs="unbounded"/-->
            <xsd:element name="ROM"             type="AssemblerObjectType"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Restart"         type="AssemblerObjectType"   minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name"     type="xsd:string" use="required"/>
        <xsd:attribute name="parallel" type="xsd:string"/>
        <xsd:attribute name="outfile"  type="xsd:string"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="ResponseSurfaceSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="samplerInitType" minOccurs="0"/>
            <xsd:element name="ResponseSurfaceDesignSettings" minOccurs="1">
                <xsd:complexType mixed="true">
                    <xsd:all>
                        <xsd:element name="algorithmType" type="xsd:string"   minOccurs="1"/>
                        <xsd:element name="ncenters"       type="xsd:integer" minOccurs="0"/>
                        <xsd:element name="centers"        type="xsd:string"  minOccurs="0"/>
                        <xsd:element name="alpha"          minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction   base="xsd:string">
                                    <xsd:enumeration value="orthogonal"/>
                                    <xsd:enumeration value="rotatable" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="face"           minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction   base="xsd:string">
                                    <xsd:enumeration value="circumscribed"/>
                                    <xsd:enumeration value="inscribed" />
                                    <xsd:enumeration value="faced"   />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="variable"     type="extendedVariableType" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="FactorialSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="samplerInitType" minOccurs="0"/>
            <xsd:element name="FactorialSettings" minOccurs="1">
                <xsd:complexType mixed="true">
                    <xsd:all>
                        <xsd:element name="algorithmType" type="xsd:string"   minOccurs="1"/>
                        <xsd:element name="gen"            type="xsd:string"   minOccurs="0"/>
                        <xsd:element name="genMap"         type="xsd:string"  minOccurs="0"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="variable"     type="extendedVariableType" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>

    <xsd:complexType name="EnsembleForwardSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="samplerInitType"         minOccurs="0"/>
            <xsd:element name="variable"     type="variableType"    minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="MonteCarlo" type="MonteCarloSampler" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Grid" type="GridSampler" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Stratified" type="GridSampler" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ResponseSurfaceDesign" type="ResponseSurfaceSampler" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="FactorialDesign" type="FactorialSampler" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="CustomSampler" type="CustomSampler" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>



    <!-- *********************************************************************** -->
    <!--                  Adaptive Samplers                                      -->
    <!-- *********************************************************************** -->
    <xsd:simpleType name="weightAttr">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="value"/>
            <xsd:enumeration value="CDF"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="modeAttr">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="post"/>
            <xsd:enumeration value="online"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ASGConvTarget">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="variance"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="LSSSampler">
        <xsd:sequence>
            <xsd:element name="ROM"              type="AssemblerObjectType"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Function"         type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Convergence"                      minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="limit"          type="xsd:integer"/>
                    <xsd:attribute name="forceIteration" type="RavenBool"/>
                    <xsd:attribute name="weight"         type="weightAttr"/>
                    <xsd:attribute name="persistence"    type="xsd:integer"/>
                    <xsd:attribute name="subGridTol"     type="xsd:float"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoring"        type="xsd:string"   minOccurs="0" maxOccurs="1"/>
            <xsd:element name="batchStrategy"  type="xsd:string"   minOccurs="0" maxOccurs="1"/>
            <!-- These two should be percentFloats, but I prefer to have my test
                 actually test the boundary conditions, it looks better on code
                 coverage, and it ensures the CODE itself is able to handle
                 bad outputs, not some faceplate that sits on top and checks
                 things before the code runs. As such these lines will remain
                 here commented out until the XSD is a proper component of RAVEN,
                 or dies the terrible death it deserves, whichever comes first -->
            <!-- <xsd:element name="simplification" type="percentFloat" minOccurs="0" maxOccurs="1"/> -->
            <!-- <xsd:element name="threshold"      type="percentFloat" minOccurs="0" maxOccurs="1"/> -->
            <xsd:element name="simplification" type="xsd:float" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="threshold"      type="xsd:float" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="thickness"      type="xsd:integer"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="maxBatchSize"   type="xsd:integer"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="variable"         type="variableType"             minOccurs="1" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
        </xsd:sequence>
        <xsd:attribute name="name"      type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>
    <xsd:complexType name="adaptiveSobolConvergence" mixed="true">
      <xsd:sequence>
        <xsd:element name="relTolerance"    type="xsd:float"   minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="maxRuns"         type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="maxSobolOrder"   type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="progressParam"   type="xsd:float"   minOccurs="0" maxOccurs="unbounded"/><!--should be from 0 to 2-->
        <xsd:element name="logFile"         type="xsd:string"  minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="subsetVerbosity" type="verbosityAttr" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="convergenceStudyType">
        <xsd:sequence>
            <xsd:element name="runStatePoints" type="xsd:string" minOccurs="0"/>
            <xsd:element name="baseFilename"   type="xsd:string" minOccurs="0"/>
            <xsd:element name="pickle"                           minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AdaptiveSobolSampler">
      <xsd:sequence>
        <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
        <xsd:element name="Convergence"      type="adaptiveSobolConvergence" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="convergenceStudy" type="convergenceStudyType" minOccurs="0"/>
        <xsd:element name="variable"         type="variableType"             minOccurs="1" maxOccurs="unbounded"/>
	<xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
        <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ROM"              type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="TargetEvaluation" type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name"      type="xsd:string" use="required"/>
      <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>
    <xsd:complexType name="AdaptiveSGSampler">
        <xsd:sequence>
            <xsd:element name="Convergence"                      minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="target"         type="ASGConvTarget"/>
                    <xsd:attribute name="maxPolyOrder"   type="xsd:integer"/>
                    <xsd:attribute name="persistence"    type="xsd:integer"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
            <xsd:element name="convergenceStudy" type="convergenceStudyType" minOccurs="0"/>
            <xsd:element name="variable"         type="variableType"             minOccurs="1" maxOccurs="unbounded"/>
	    <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="variablesTransformation" type="variablesTransformationType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="ROM"              type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name"      type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>

    <xsd:complexType name="AdaptiveMCSampler">
      <xsd:sequence>
        <xsd:element name="TargetEvaluation" type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="Convergence"      type="adaptiveMCConvergenceType" minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="initialSeed"      type="xsd:integer"                minOccurs="0" maxOccurs="1"/>
        <xsd:element name="variable"         type="variableType"             minOccurs="1" maxOccurs="unbounded"/>
        <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
        <xsd:element name="Restart"      type="AssemblerObjectType"   minOccurs="0"  maxOccurs="1"/>
      </xsd:sequence>
    <xsd:attribute name="name"      type="xsd:string" use="required"/>
    <xsd:attribute name="verbosity" type="verbosityAttr"/>
    </xsd:complexType>
    <xsd:complexType name="adaptiveMCConvergenceType">
        <xsd:sequence>
          <xsd:element name="limit"             type="xsd:integer" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="persistence"       type="xsd:integer" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="forceIteration"       type="RavenBool" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="expectedValue"          minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType mixed="true">
                <xsd:attribute name="prefix" type="xsd:string" />
                <xsd:attribute name="tol" type="xsd:float" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="sigma"          minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType mixed="true">
                <xsd:attribute name="prefix" type="xsd:string" />
                <xsd:attribute name="tol" type="xsd:float" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="variance"          minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType mixed="true">
                <xsd:attribute name="prefix" type="xsd:string" />
                <xsd:attribute name="tol" type="xsd:float" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="skewness"          minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType mixed="true">
                <xsd:attribute name="prefix" type="xsd:string" />
                <xsd:attribute name="tol" type="xsd:float" />
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="kurtosis"          minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType mixed="true">
                <xsd:attribute name="prefix" type="xsd:string" />
                <xsd:attribute name="tol" type="xsd:float" />
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <!-- *********************************************************************** -->
    <!--                  Dynamic Event Tree                                     -->
    <!-- *********************************************************************** -->
    <xsd:simpleType name="DETHybridSamplerType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MonteCarlo"/>
            <xsd:enumeration value="Grid"/>
            <xsd:enumeration value="Stratified"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DETHybridSamplerTypeAdaptive">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MonteCarlo"/>
            <xsd:enumeration value="Grid"/>
            <xsd:enumeration value="Stratified"/>
            <xsd:enumeration value="LimitSurface"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="HybridSamplerSettingsType">
        <xsd:sequence>
            <!-- ****************************************** -->
            <!-- the extendedVariableType has been adjusted -->
            <!-- according to the needs of this element     -->
            <!-- needs to be corrected                      -->
            <!-- ****************************************** -->
            <xsd:element name="samplerInit" type="samplerInitType"         minOccurs="0"/>
            <xsd:element name="variable"     type="extendedVariableType"    minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Distribution" type="extendedVariableType"    minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="DETHybridSamplerType" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="HybridSamplerSettingsTypeAdaptive">
        <xsd:sequence>
            <!-- ****************************************** -->
            <!-- the extendedVariableType has been adjusted -->
            <!-- according to the needs of this element     -->
            <!-- needs to be corrected                      -->
            <!-- ****************************************** -->
            <xsd:element name="sampler_init" type="samplerInitType"         minOccurs="0"/>
            <xsd:element name="variable"     type="extendedVariableType"    minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Distribution" type="extendedVariableType"    minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="DETHybridSamplerTypeAdaptive" use="required"/>
    </xsd:complexType>
    <xsd:complexType name="DETSampler">
        <xsd:sequence>
            <xsd:element name="HybridSampler" type="HybridSamplerSettingsType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="variable"              type="extendedVariableType"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Distribution"          type="extendedVariableType"      minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name"              type="xsd:string" use="required"/>
        <xsd:attribute name="printEndXmlSummary"     type="RavenBool"/>
        <xsd:attribute name="removeXmlBranchInfo"     type="RavenBool"/>
        <xsd:attribute name="maxSimulationTime" type="xsd:float"/>
    </xsd:complexType>
    <xsd:complexType name="AdaptiveDETSampler">
        <xsd:sequence>
            <xsd:element name="ROM"              type="AssemblerObjectType"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Function"         type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"      minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Convergence"                      minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType mixed="true">
                    <xsd:attribute name="limit"          type="xsd:integer"/>
                    <xsd:attribute name="forceIteration" type="RavenBool"/>
                    <xsd:attribute name="weight"         type="weightAttr"/>
                    <xsd:attribute name="subGridTol"     type="xsd:float"/>
                    <xsd:attribute name="persistence"    type="xsd:integer"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="variable"         type="extendedVariableType"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Distribution"     type="extendedVariableType"      minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="HybridSampler" type="HybridSamplerSettingsTypeAdaptive" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name"              type="xsd:string" use="required"/>
        <xsd:attribute name="printEndXmlSummary"     type="RavenBool"/>
        <xsd:attribute name="removeXmlBranchInfo"    type="RavenBool"/>
        <xsd:attribute name="maxSimulationTime" type="xsd:float"/>
        <xsd:attribute name="mode"              type="modeAttr"  default="post"/>
        <xsd:attribute name="updateGrid"        type="RavenBool" default="true"/>
    </xsd:complexType>

    <!-- *********************************************************************** -->
    <!--                  Markov Chain Monte Carlo                                     -->
    <!-- *********************************************************************** -->
    <xsd:complexType name="metropolisInitType">
      <xsd:all>
        <xsd:element name="limit"                    type="xsd:string"  minOccurs="0"/>
        <xsd:element name="initialSeed"              type="xsd:integer" minOccurs="0"/>
        <xsd:element name="burnIn"                     type="xsd:string"  minOccurs="0"/>
      </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="metropolisVariableType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element name="distribution" type="extendedVariableDistributionType" minOccurs="1"/>
          <xsd:element name="function"     type="xsd:string"                       minOccurs="1"/>
          <xsd:element name="probabilityFunction" type="AssemblerObjectType"    minOccurs="1"/>
        </xsd:choice>
        <xsd:element name="initial" type="xsd:string" minOccurs="0"/>
        <xsd:element name="proposal" type="AssemblerObjectType"    minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="shape" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="stringBaseType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="likelihoodType">
        <xsd:simpleContent>
            <xsd:extension base="stringBaseType">
                <xsd:attribute name="log"  type="RavenBool"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="MetropolisSampler">
        <xsd:sequence>
            <xsd:element name="samplerInit" type="metropolisInitType" minOccurs="1"/>
            <xsd:element name="likelihood" type="likelihoodType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="variable"     type="metropolisVariableType"    minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="TargetEvaluation" type="AssemblerObjectType"    minOccurs="1" maxOccurs="1"/>
            <xsd:element name="constant" type="constantVarType"        minOccurs="0" maxOccurs='unbounded'/>
            <xsd:element name="Restart"      type="AssemblerObjectType"   minOccurs="0"  maxOccurs="unbounded"/>
            <xsd:element name="restartTolerance" type="xsd:float"   minOccurs="0"  maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="verbosity" type="verbosityAttr" default="all"/>
    </xsd:complexType>
</xsd:schema>
